.classpath
.project
.settings
.gradle

# Keep empty directories:
# Keep empty directories: >> .gitignore/.git*
/target/
.idea
.vscode
.claude
/mariadb-java-client.iml
.github/native-image-test/spring-boot/target
