os: linux
dist: bionic
language: java
services:
  - docker
  - mysql
jdk: openjdk11
addons:
  hosts:
    - mariadb.example.com

before_install:
  - git clone https://github.com/mariadb-corporation/connector-test-machine.git
  # Load cached docker images
  - if [[ -d $HOME/docker ]]; then ls $HOME/docker/*.tar.gz | xargs -I {file} sh -c "zcat {file} | docker load"; fi

cache:
  directories:
    - $HOME/docker
    - $HOME/.m2

env: LOCAL=0

install:
  - |-
    case $TRAVIS_OS_NAME in
      windows)
        choco install openjdk11 maven
        export PATH=$(cmd.exe //c "refreshenv > nul & C:\Progra~1\Git\bin\bash -c 'echo \$PATH' ")
        connector-test-machine/launch.bat -t "$srv" -v "$v" -d testj
        ;;
      linux)
        source connector-test-machine/launch.sh -t "$srv" -v "$v" -d testj -n 0 -l "$local" -p "$packet"
        ;;
    esac

jobs:
  include:
    - env: srv=mariadb v=10.2 local=1
    - if: NOT env(CONNECTOR_TEST_SECRET_KEY) IS present
      env: srv=skysql
    - if: env(CONNECTOR_TEST_SECRET_KEY) IS present
      env: srv=skysql-ha
    - if: NOT env(CONNECTOR_TEST_SECRET_KEY) IS blank
      env: srv=skysql2
    - if: env(CONNECTOR_TEST_SECRET_KEY) IS blank
      env: srv=skysql-ha2


script:
  - mvn clean -Dmaven.test.skip
  - if [ -n "$BENCH" ] ; then mvn package -P bench -Dmaven.test.skip -Dmaven.javadoc.skip=true ; fi
  - if [ -n "$BENCH" ] ; then java -Duser.country=US -Duser.language=en -DTEST_PORT=$TEST_DB_PORT -DTEST_HOST=$TEST_DB_HOST -DTEST_USERNAME=$TEST_DB_USER -DTEST_PASSWORD=$TEST_DB_PASSWORD -jar target/benchmarks.jar; fi
  - if [ -z "$BENCH" ] ; then MAVEN_SKIP_RC=true MAVEN_OPTS="-Xmx2g" mvn clean test -DjobId=${TRAVIS_JOB_ID}; fi

after_script:
  - bash <(curl -s https://codecov.io/bash)