language: java
jdk: openjdk17
version: ~> 1.0

before_install:
  - |-
    case $TRAVIS_OS_NAME in
      windows)
        choco install openjdk11 maven
        export PATH=$(cmd.exe //c "refreshenv > nul & C:\Progra~1\Git\bin\bash -c 'echo \$PATH' ")
        ;;
    esac

env:
  global: local=0 RUN_LONG_TEST=true PROFILE=default DB=testj CLEAR_TEXT=0

import: mariadb-corporation/connector-test-machine:common-build.yml@master

jobs:
  include:
    - stage: Language
      env: srv=mariadb v=10.6 packet=40 PROFILE=java8
      jdk: openjdk8
      name: "CS 10.6 - openjdk 8"
    - stage: Language
      env: srv=mariadb v=10.6 packet=8
      jdk: openjdk11
      name: "CS 10.6 - openjdk 11 - packet 8M"
    - stage: Language
      env: srv=mariadb v=10.6 packet=40
      jdk: openjdk17
      name: "CS 10.6 - openjdk 17 - packet 40M"
    - stage: Benchmarks
      env: srv=mariadb v=10.6 local=1 BENCH=1
      name: "Benchmarks"
    - stage: Language
      env: srv=mariadb v=10.6 packet=40
      jdk: openjdk21
      name: "CS 10.6 - openjdk 21"
script:
  - echo $PROFILE
  - mvn clean -Dmaven.test.skip -P $PROFILE
  - |-
    if [ "java8" == "$PROFILE" ]; then
      rm -R .mvn
          java -version
      mvn -version
    fi
  - if [ -n "$BENCH" ] ; then mvn package -P bench -Dmaven.test.skip -Dmaven.javadoc.skip=true ; fi
  - if [ -n "$BENCH" ] ; then java -Duser.country=US -Duser.language=en -DTEST_PORT=$TEST_DB_PORT -DTEST_HOST=$TEST_DB_HOST -DTEST_USERNAME=$TEST_DB_USER -DTEST_PASSWORD=$TEST_DB_PASSWORD -jar target/benchmarks.jar; fi
  - if [ -z "$BENCH" ] ; then MAVEN_SKIP_RC=true MAVEN_OPTS="-Xmx2g" mvn clean test -P ${PROFILE} -DjobId=${TRAVIS_JOB_ID}; fi

after_script:
  - bash <(curl -s https://codecov.io/bash)
