version: '{build}'
skip_tags: true
clone_depth: 10
environment:
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
os: Windows Server 2012
services:
  - mysql
install:
  - ps: |
      Add-Type -AssemblyName System.IO.Compression.FileSystem
      if (!(Test-Path -Path "C:\maven" )) {
        (new-object System.Net.WebClient).DownloadFile('http://www.us.apache.org/dist/maven/maven-3/3.5.2/binaries/apache-maven-3.5.2-bin.zip', 'C:\maven-bin.zip')
        [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\maven-bin.zip", "C:\maven")
      }
  # Prepend Java entry, remove Ruby entry (C:\Ruby193\bin;) from PATH
  - cmd: systeminfo
  - cmd: SET PATH=C:\maven\apache-maven-3.5.2\bin;%JAVA_HOME%\bin;%PATH:C:\Ruby193\bin;=%;
  - cmd: SET MAVEN_OPTS=-Xms512m -Xms768m
  - cmd: SET JAVA_OPTS=-Xms512m -Xmx768m
  - cmd: SET M2_HOME=C:\maven\apache-maven-3.5.2
  - cmd: SET M
  - cmd: mvn --version
  - cmd: java -version
build_script:
  - mvn clean package -Dmaven.test.skip=true
test_script:
  - mvn test -DdbUrl="jdbc:mariadb://localhost/testj?user=root&createDatabaseIfNotExist=true&password=Password12!"
